
{# DISCLAIMER: STILL FORMATTED WITH BOOTSTRAP #}

{#<div class="panel-faq p-4 container">#}
{#    <div class="accordion" id="faqs">#}

{#        {% for qa in custom.faq.all() %}#}
{#            {% set heading = "heading-#{loop.index}" %}#}
{#            {% set collapse = "collapse-#{loop.index}" %}#}
{#            <div class="mb-3">#}
{#                <div class="card-header" id="{{ heading }}">#}
{#                    <h2 class="m-0">#}
{#                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ collapse }}" aria-controls="{{ collapse }}" aria-expanded="false">#}
{#                            {{ qa.question }}#}
{#                        </button>#}
{#                    </h2>#}
{#                </div>#}
{#                <div id="{{ collapse }}" class="collapse" aria-labelledby="{{ heading }}" data-parent="#faqs">#}
{#                    <div class="card-body">#}
{#                        {{ qa.answer }}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}

{#    </div>#}
{#</div>#}
